- provide(:title, "All Users")
%h1{class: "text-4xl font-extrabold dark:text-white"} All Users

= will_paginate

%ul{class: "max-w-md divide-y divide-gray-200 dark:divide-gray-700"}
  - @users.each do |user|
    %li{class: "pb-3 sm:pb-4"}
      %div{class: "flex items-center space-x-4 rtl:space-x-reverse"}
        %div{class: "flex-shrink-0"}
          = image_tag 'lym_office_2023', alt: user.name, class: "w-16 h-16 rounded-full"
        %div{class: "flex-1 min-w-0"}
          %p{class: "text-sm font-medium text-gray-900 truncate dark:text-white"}
            = link_to user.name, user
          %p{class: "text-sm text-gray-500 truncate dark:text-gray-400"}
            = user.email

= will_paginate
