- provide(:title, @title)

%div{class: "grid grid-cols-2 gap-2"}
  %div
    %aside
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/relationship_stats'
        - if @users.any?
          %div{class: "flex flex-wrap w-1/3"}
            - @users.each do |user|
              = link_to user do
                = image_tag 'default_user_avatar', alt: user.name, class: "block mx-auto h-8 rounded-full sm:mx-0 sm:shrink-0 size-8"

  %div
    %h3
      = @title
    - if @users.any?
      %ul
        = render @users
      = will_paginate
