- provide(:title, @user.name)

%div{class: "grid grid-cols-2 grid-flow-col"}
  %div{class: "grid-cols-1 row-span-1"}
    %div{class: "grid-cols-1 row-span-1 py-8 px-8 rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6"}
      = image_tag 'default_user_avatar', alt: @user.name, class: "block mx-auto h-16 rounded-full sm:mx-0 sm:shrink-0"
      %div{class: "text-center space-y-2 sm:text-left"}
        %div{class: "space-y-0.5"}
          %p{class: "text-lg text-black font-semibold"}
            = @user.name

  %div
    - if @user.microposts.any?
      %h3= " Microposts (#{@user.microposts.count})"
      %ol{class: "max-w-md divide-y divide-gray-200 dark:divide-gray-700"}
        = render @microposts
      = will_paginate @microposts
